<div class="col-md-4 " id="widget" style="display: none">
    <!--<div class="row" style="border-bottom: solid 0.5px #adadad">-->
        <!--<div class="col-md-6"><h4>Temperature Sensor</h4></div>-->
        <!--<div class="col-md-4"></div>-->
        <!--<div class="col-md-1"><img style="width: 20px;padding: 2px;" src="/images/refresh.png"></div>-->
        <!--<div class="col-md-1"><img style="width: 20px; padding: 2px;" src="/images/settings.png"></div>-->
    <!--</div>-->

    <!--<div class="row">-->
        <!--<div class="col-md-5">-->
            <!--<h2 id="gage">00</h2>-->
            <!--<h3><sup>.</sup>C</h3>-->
        <!--</div>-->
        <!--<div class="col-md-7">-->
            <!--<div id="g1" class="gauge"></div>-->
        <!--</div>-->
    <!--</div>-->

    <div id="chart" style="width: 200px; height: 200px"></div>
    <script>
        var chart = $('#chart').epoch({
            type: 'time.area',
            data:barChartData
        });

        var barChartData = [
            // First series
            {
                label: "Series 1",
                values: [ {time: 1370044800, y: 100}, {time: 1370044801, y: 1000}]
        }];
    </script>

</div>