<div class="col-md-4 my_widget" id="widget_google_gauge" style="display: none">
    <div class="row" style="border-bottom: solid 0.5px #adadad">
        <div class="col-md-8"><h4>Google Temperature Gauge</h4></div>
        <div class="col-md-2"></div>
        <div class="col-md-1"><img style="width: 20px;padding: 2px;" src="/images/refresh.png"></div>
        <div class="col-md-1"><img style="width: 20px; padding: 2px;" src="/images/settings.png"></div>
    </div>
    <div class="row">
        <div style="padding:20px;">
            <div id="chart_div" style="width: 90%; height: 200px; padding: 30px;"></div>
        </div>
    </div>
</div>