<div class="col-md-4 my_widget" id="widget_line_chart" style="display: none">
    <div class="row" style="border-bottom: solid 0.5px #adadad">
    <div class="col-md-9"><h4>Temperature Change With Time</h4></div>
    <div class="col-md-1"></div>
    <div class="col-md-1"><img style="width: 20px;padding: 2px;" src="/images/refresh.png"></div>
    <div class="col-md-1"><img style="width: 20px; padding: 2px;" src="/images/settings.png"></div>
    </div>

    <div class="row">
        <div style="padding:20px;">
            <canvas id="linechart" width="366" height="200" style="border: solid 0.5px;"></canvas>
        </div>
    </div>

</div>