<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!--<link rel='stylesheet' href='/stylesheets/style.css'/>-->
    <link rel='stylesheet' href='/stylesheets/wijetstyle.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<% include common %>

<h1>Introduction</h1>
<p>
    We   are   living   in   a   world   that   everything   is   about   to   become   smart   device   in   our   day   to   day   life.
    Already   lots   of   Smart­X   applications   are   becoming   popular   in   these   days.   Therefore   to   achieve
    that   task   Internet   of   Things   (IoT)   is   playing   the   major   role.   But   sometime   since   everyone   is   not
    an   technical   expert,   some   creative   ideas   will   get   neglected   due   to   lack   of   technical   knowledge
    and   complexity   of   the   devices.   Therefore   our   target   is   to   make   IoT   usable   for   everyone   without
    knowing  how IoT work from the inside.
</p>



<% include common %>

</body>
</html>

