<div id="footer">
</div>

<!-- Load d3.js and c3.js -->

<script src="/javascripts/meter.js"></script>
<script src="/javascripts/raphael-2.1.4.min.js"></script>
<script src="/javascripts/justgage.js"></script>
